/* The styles for the All News page are pretty simple as it's just necessary to style the class so every div with the
page_item class gets it as well */
.all_pages_display {
    width: 100%;
}

/* The page_item works in way that it tries to occupy 100% of what it can, however, when the screen is wide enought, it
changes its widht to 50% and some margins are applied as it's possibly to see in the media query */
.page_item {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page_item img {
    justify-self: center;
    object-fit: cover;
    width: 30vw;
    height: auto;
}

.page_item_text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 60%;
}

.page_item_title {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .page_item {
        margin: 20px;
        width: calc(50% - 40px);
        float: left;
    }

    /* This is needed because the height of the one's height might get greater than the other ones, this makes the tile 
    below to jump to the column on the right, the left tiles only clears the left side to stay always in the left side
    of the display */
    #all_pages_display a:nth-child(odd) .page_item {
        clear: left;
    }

    .page_item img {
        width: 15vw;
        min-width: 100px;
    }
}