/* Styles that will apply to all pages */

html {
    background: #d68b00;
    padding: 0px;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body.default_font_size {
    font-size: 1em;
}

body.medium_font_size {
    font-size: 1.5em;
}

body.large_font_size {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

/* General Styles for the header */

header {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    background-color: rgb(15, 0, 155);
    flex-direction: row-reverse;
    justify-content: start;
    color: #d68b00;
    z-index: 999;
}

.logo img {
    max-width: 60px;
}

@media (min-width: 768px) {
    .logo img {
        max-width: 100px;
    }

    header {
        flex-direction: row;
        justify-content: center;
    }
}

/* Styles for the nav-bar */

nav {
    left: 0px
}

/*Styling the hamburger nav-bar for small diveces. The nav-bar stays hidden outside the screen when the hamburger is not checked  */

#hamburger {
    -webkit-appearance: none;
    appearance: none;
}

#hamburger:checked~.list {
    left: 0;
}

nav label {
    cursor: pointer;
    left: 0;
}

.list {
    z-index: 999;
    list-style: none;
    display: flex;
    font-size: 1.2em;
    position: absolute;
    left: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 0, 189);
    gap: 2em;
    top: 43.8px;
    width: 100%;
    height: calc(100vh - 43.8px);
    transition: 0.5s;
    margin: 0px;
    padding: 0px;
}

.list_item {
    padding: 0.5em;

}

.list_item a {
    color: #d68b00;
    font-size: 1.5em;
    font-weight: 200;
}

.list_item:hover {
    background-color: rgb(69, 48, 255);
}

.list_item.active {
    border-bottom: 1px solid #d68b00;
}

/* Media query so the nav-bar appears in the header the screen is wide enough */

@media screen and (min-width: 768px) {
    nav {
        left: auto;
        position: relative;
    }

    label {
        display: none;
    }

    .list {
        gap: 1em;
        position: relative;
        background-color: inherit;
        top: auto;
        left: auto;
        font-size: 1em;
        flex-direction: row;
        width: auto;
        height: auto;
        transition: 0s;
    }

    .list_item:hover {
        border-radius: 0.5em;
    }

}

#font_size_selector {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1em;
    align-items: end;
}

.font_size_selector_text {
    margin: 0px;
}

/* Arrows to be used in the Carousel */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  main {
    color: white;
    font-family: Georgia, Palatino, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    z-index: -1;
}

@media (min-width: 768px) {
    main {
        max-width: 1200px;
        margin: auto;
    }
}

.double_column_wide {
    display: block;
    column-count: 1;
}

@media screen and (min-width: 768px) {
    .double_column_wide {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-gap: 20px;
    }
}

footer {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(19, 0, 189);
    align-items: center;
    color: #d68b00;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

.center_content {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact_info ul {
    list-style: none;
    padding: 0px;
}

.title {
    text-align: center;
}
    
hr.solid {
    border-top: 1px solid #bbb;
    width: 95%;
}

.center_text {
    display: block;
    width: 100%;
    text-align: center;
}
    