#motivational_quote {
    text-align: center;
    font-style: italic;
    letter-spacing: 0.1em;
}

@keyframes fading {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.carousel {
    display: grid;
    align-self: center;
    width: 100%;
    height: 50vw;
    max-height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 0;
}

.carousel button {
    background: none;
    position: absolute;
    border: none;
    align-self: center;
    z-index: 99;
}

.carousel button i {
    width: 2vw;
    height: 2vw;
}

.carousel button.prev{
    justify-self: start;
}

.carousel button.next{
    justify-self: end;
}

.carousel .slider { 
    position: relative;
    width: 90%; 
    margin: 0px;
    justify-self: center;
}
.carousel .slider .slide {
    object-fit: cover;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.carousel .slider .slide.active {
    animation-name:fading;
    animation-duration: 1.5s;
    display: block;
}

img.slide_image {
    align-self: center;
    width: 100%;
    height: 100%;
    justify-self: center;
}

span.slide_title {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 149, 0.297);
    color: white;
    height: 55px;
    align-content: center;
}

#recommended_page {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
}

#recommended_page img {
    margin-right: 10px;
}

#recommended_page_text  {
    width: 100%;
    height: 100%;
}

#recommended_page_text h2 {
    position: relative;
    margin-top: 5px;
    top: 0;
    text-align: start;
    width: 100%;
}

#recommended_page_text p {
    position: relative;
    text-align: start;
    width: 100%;
}

#all_pages_link {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    background-size: cover;
    background-image: url('./subpages/subPagesAssets/tiers.jpg');
}

span.botton_title {
    margin: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 149, 0.297);
    color: white;
    text-transform: uppercase;
}