/* The styling of this template focus on making the text of the sections the more organized and concise as possible */

/* The introduction is styled to stay in the center. The text of the introduction if justified to the other and the image is a little bit smaller then the other images */
#introduction {
    margin-bottom: 50px;
    justify-content: center;
}

#introduction span {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

#introduction img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    margin-bottom: 10px;
}

/* This the base styling of the template, the image is a little bit bigger then the one in the introduction and it adds to the text tags (<p> and <h2>) some margin
so the users have better reading experience */
img.explanatory_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-bottom: 30px;
}

.subject_explanation {
    display: block;
    margin-bottom: 20px;
}

.subject_explanation h2 {
    margin-bottom: 20px;
}

.subject_explanation p{
    margin-bottom: 30px;
}