/* The styling of this template focus on the diversity of the types of media, so it has styling for video and img tags */

/* The introduction is styled to stay in the center. The text of the introduction if justified to the other and the image is a little bit smaller then the other images */
#introduction {
    margin-bottom: 50px;
    justify-content: center;
}

#introduction span {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

#introduction img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    margin-bottom: 10px;
}

/* These are the base styles for all the kind of communicating with the user, text, images and videos */
video.explanatory_video {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

img.explanatory_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    margin-bottom: 10px;
}

.subject_explanation {
    display: block;
    margin-bottom: 30px;
}

.subject_explanation h2 {
    margin-bottom: 20px;
}

.subject_explanation p{
    margin-bottom: 20px;
}

